body
{
	background-color: rgb(146, 140, 140);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	animation: hello 5s;
}

#screen
{
	height: 4rem;
}

.btn:focus {
	outline: none;
	box-shadow: none;
  }

#currency:focus {
	outline: none;
	box-shadow: none;
  }
